@using ToDoApp.Models.ViewModels
@using ToDoApp.Models.Dtos
@model List<ToDosViewModel>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("~/Views/ToDo/Partial/_FilterPartial.cshtml", (FilterDto)ViewBag.Filter)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>DueDate</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ToDosViewModel todo in Model)
                {
                    string dueDateClass = todo.DueDate < DateTime.Now ? "bg-danger" : "";
                    string completedClass = todo.StatusName == "Completed" ? "table-success text-decoration-line-through" : "";
                    <tr class="@completedClass">
                        <td>@todo.Description</td>
                        <td class="@dueDateClass">@todo.DueDate</td>
                        <td>@todo.CategoryName</td>
                        <td>@todo.StatusName</td>
                        <td>
                            @if (todo.StatusName != "Completed")
                            {
                                <form asp-controller="ToDo" asp-action="MarkComplete" method="post" style="display:inline;">
                                    <input type="hidden" name="id" value="@todo.Id" />
                                    <button type="submit" class="btn btn-success btn-sm">Mark Complete</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <form asp-controller="ToDo" asp-action="RemoveAllCompleted" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger mb-2">Remove All Completed</button>
        </form>
    </div>
</div>